body {
    font-family: sans-serif;
    padding: 1rem;
}

section,
article,
div {
    border: 1px solid #ccc;
    padding: .5rem;
    margin-bottom: .5rem;
}

.box {
    background: #f0f0f0;
    padding: .3rem;
}

.colorized{
    background-color:#FF00FF;
}